BasedOnStyle: Google
IndentWidth: 8
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120